{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}

	<div class="col-sm-3 mx-auto ">
		<img src="{{ asset('images/avatar-default.png') }}" class="createIcon">
		<blockquote class="blockquote text-center">
			<form>
				<img src="{{ asset('images/avatar-default.png') }}" class="createIcon">

				<h1 class="h3 mb-3 font-weight-normal">Crear Cuenta
				</blockquote>
			</h1>
			<div class="mb-3">
				<label for="name" class="form-label">Nombre</label>
				<input type="text" id="nombre" class="form-control" placeholder="Nombre">
			</div>
			<div class="mb-3">
				<label for="apellido" class="form-label">Apellidos</label>
				<input type="text" id="apellidos" class="form-control" placeholder="Apellidos">
			</div>
			<div class="mb-3">
				<label for="email" class="form-label">Email</label>
				<input type="text" id="email" class="form-control" placeholder="Email">
			</div>
			<div class="mb-3">
				<label for="telefono" class="form-label">No. Telefono</label>
				<input type="text" id="telefono" class="form-control" placeholder="No. Telefono">
			</div>
			<div class="mb-3">
				<label for="rols" class="form-label">Selecciona el Rol</label>
				<select id="rols" class="form-select">
					<option>Administrador</option>
					<option>Almacen</option>
					<option>Economia</option>
					<option>Proveedor</option>
				</select>
			</div>
			<div class="mb-3">
				<label for="marca" class="form-label">Selecciona la Marca</label>
				<select id="marca" class="form-select">
					<option>Administrador</option>
					<option>Almacen</option>
					<option>Economia</option>
					<option>Proveedor</option>
				</select>
			</div>
			<div class="mb-3">
				<label for="name" class="form-label">Contrase単a</label>
				<input type="password" id="pass" class="form-control" placeholder="Contrase単a">
			</div>
			<div class="mb-3">
				<label for="name" class="form-label">Confirme Contrase単a</label>
				<input type="password" id="passConfirm" class="form-control" placeholder="Confirme Contrase単a">
			</div>
			<blockquote class="blockquote text-center">
				<div class="d-flex justify-content-start">
					<label>
						<input type="checkbox" name="_remember_me">
						I agree with the terms of use
					</label>
				</div>


			</blockquote>

			<blockquote class="blockquote text-center">
				<button class=" btnSpecific" type="submit">
					<h4 class="h4login">
						Crear Cuenta</h4>
				</button>

			</form>

		</div>
		{# <div class="container">
		        <div class="row">
		            <div class="bg-light mt-4 p-4">
							
		            <blockquote class="blockquote text-center">			
		    <h1 class="h3 mb-3 font-weight-normal">Registrarse</h1>
		    </blockquote>
		    {{ form_start(registrationForm) }}
		    
		    
		        {{ form_row(registrationForm.email) }}
		        {{ form_row(registrationForm.plainPassword, {
		            label: 'Password'
		        }) }}
		        {{ form_row(registrationForm.agreeTerms) }}
		
		        <blockquote class="blockquote text-center">
						<button class=" btnSpecific" type="submit">
							<h4 class="h4login">Registrarse</h4>
		                    </button>
		        </blockquote>
		    {{ form_end(registrationForm) }}
		    </div>
		        </div>
		    </div> #}
	{% endblock %}
