{% extends 'base.html.twig' %}
{% block body %}
  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">
            # Orden
          </th>
          <th scope="col">
            Nombre Producto
          </th>
          <th scope="col">
            Id. Producto
          </th>
          <th scope="col">
            Fecha de venta
          </th>
          <th scope="col">
            Nombre Proveedor
          </th>
          <th scope="col">
            Precio de Proveedor
          </th>
          <th scope="col">
            Precio de Venta
          </th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {% for vent in ventas %}
          <tr scope="row">
            <th scope="row">
              {{ vent.id_ord }}
            </th>
            <th scope="row">
              {{ vent.name }}
            </th>
            <th scope="row">
              {{ vent.id_producto }}
            </th>
            <th scope="row">
              {{ vent.fecha }}
            </th>
            <th scope="row">
              {{ vent.nombre_prov }}
            </th>
            <th scope="row">
              {{ vent.cost_prov }}
            </th>
             <th scope="row">
              {{ vent.prec_vent}}
            </th>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}