{% extends 'base.html.twig' %}


    {% block header %}

        <nav class="navbar bg-body-tertiary navEspecial">
            <div class="container-fluid">
                
                    <a href="{{ path('app_almacen_index') }}">
                        <h4 class="navCartel">                              
                    Almacen
                    </h4>
                    </a>             
                
            </div>
    
        </nav>
    
    </nav>{% endblock %}
{% block body %}
    <br>
    <div class="cardCenter row mx-auto">
        <div class="col-sm-8 mb-3 mb-sm-0">
            <div class="shadow p-0 mb-5 bg-body rounded">

    <table class="table">
        <thead>
            <tr>
               
                <th>Nombre</th>
                <th>Direccion</th>
                <th>Acciones</th>
                <th>Entrada</th>
                <th>Salida</th>
            </tr>
        </thead>
        <tbody>
        {% for almacen in almacens %}
            <tr>
                
                <td>{{ almacen.nombre }}</td>
                <td>{{ almacen.direccion }}</td>
                <td>
                    <a href="{{ path('app_almacen_show', {'id': almacen.id}) }}"> <img class="searchIcon" src="{{ asset('images/Lupa.png') }}"</a>
                    <a class="m-3" href="{{ path('app_almacen_edit', {'id': almacen.id}) }}"><img class="searchIcon " src="{{ asset('images/lapiz.png') }}"</a></a>
                </td>
                <td>
                    <a href="{{ path('app_vale_new_in', {'id': almacen.id}) }}"> <img class="searchIcon " src="{{ asset('images/Abajo.svg') }}"</a>
                </td>
                <td>
                    <a href="{{ path('app_vale_new_out', {'id': almacen.id}) }}"> <img class="searchIcon" src="{{ asset('images/Arriba_Gris.svg') }}"</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
            </div>
            </div>
            </div>
            <a  class="btn btn-outline-primary my-2 my-sm-0 m-5" href="{{ path('app_almacen_new') }}">
                Crear Almacen
                        
            </a>
   
{% endblock %}
