<!DOCTYPE html>
<html>
	<head>
		<style>
			.navEspecial {
				background-image: url("{{ asset('navbar.png', 'imagenlogo') }}");
				background-size: cover;

				/* Workaround for some mobile browsers */
				min-height: 100%;
			}
			.navCartel {
				font-family: Ubuntu;
				color: #FFFFFF;
				margin-top: 10px;
			}
			.infosignal {
				width: 20px;
				height: 20px;

			}
			.navIcons {
				width: 27px;
				height: 27px;
				margin-top: 10px;
				margin-left: 10px;
				margin-right: 10px;
			}
			.btnSpecific{
				background-color: #3A57E8;
				border-radius: 35px;
				display: block;
				text-align: center;
				padding: 5px 30px;
				margin: auto;
				border-color: white;
			}
			.h4login{
				color: #FFFFFF;
			}
		</style>
		{% block header %}
		<meta charset="UTF-8">
		<nav class="navbar bg-light ">
			<div class="container">
				<a class="navbar-brand ms-auto" href="#">
					<img src="{{ asset('Lupa_Gris.png','imagenlogo') }}" class="navIcons"/>
				</a>
				<a class="navbar-brand ms-auto" href="#">
					<img src="{{ asset('Campana_Gris.png','imagenlogo') }}" class="navIcons"/>
				</a>
				<a class="navbar-brand ms-auto" href="#">
					<img src="{{ asset('Correo_Gris.svg','imagenlogo') }}" class="navIcons"/>
				</a>
			</div>
		</nav>


		{% endblock %}


		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{encore_entry_link_tags('app')}}
		{% endblock %}

		{% block javascripts %}
			{{encore_entry_script_tags('app')}}
		{% endblock %}
	</head>
	<body>
		{% block body %}{% endblock %}


	</body>
</html>
