<!DOCTYPE html>
<html>
	<head>
		<style>
			.navEspecial {
				background-image: url("{{ asset('navbar.png', 'imagenlogo') }}");
				background-size: cover;

				/* Workaround for some mobile browsers */
				min-height: 100%;
			}
			.cardCenter{
				 display: flex;
  align-items: center;
  justify-content: center;
			}
			.navCartel {
				font-family: Ubuntu;
				color: #FFFFFF;
				margin-top: 10px;
			}
			.navInfo {
				font-family: Ubuntu;
				color: #000000;
				margin-top: 10px;
			}
			.infosignal {
				width: 20px;
				height: 20px;

			}
			.navIcons {
				width: 27px;
				height: 27px;
				margin-top: 10px;
				margin-left: 10px;
				margin-right: 10px;
			}
			.createIcon {
				width: 120px;
				height: 120px;

			}
			.cbmIcon {
				width: 100px;
				height: 40px;

			}
			.btnSpecific {
				background-color: #3A57E8;
				border-radius: 35px;
				display: block;
				text-align: center;
				padding: 5px 160px;
				margin: auto;
				border-color: white;
			}
			.footer{
				background-size: cover;
				min-height: 100%;
				min-width :100%;
	margin-top: 10px;
				margin-left: 10px;
				margin-right: 10px;
			}
			.h4login {
				color: #FFFFFF;
			}
			.margenBoton {
				
	margin-left:10px;
	margin-right:10px;
	margin-top:auto;
			}
			.iconeye{
				
				width: 30px;
				height: 40px;
				right: 8px;
				
				
				cursor: pointer;
			}
			.eye{
				display: flex;
			}
		</style>
		
		{% block header %}
			{# <meta charset="UTF-8">
			<nav class="navbar bg-light ">
				<ul class="navbar-nav d-flex flex-row me-1">
					<li class="nav-item me-3 me-lg-0"></li>
					<li class="nav-item me-3 me-lg-0"></li>
					<li class="nav-item me-3 me-lg-0"></li>
				</ul>
				<div class="d-flex">
					<a class="nav-link text-white" href="#">
						<img src="{{ asset('Lupa_Gris.png','imagenlogo') }}" class="navIcons"/>
					</a>
					<a class="nav-link text-white" href="#">
						<img src="{{ asset('Campana_Gris.png','imagenlogo') }}" class="navIcons"/>
					</a>
					<a class="nav-link text-white" href="#">
						<img src="{{ asset('Correo_Gris.svg','imagenlogo') }}" class="navIcons"/>
					</a>
				</div>

			</nav> #}


		{% endblock %}


		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{encore_entry_link_tags('app')}}
		{% endblock %}

		{% block javascripts %}
			{{encore_entry_script_tags('app')}}
		{% endblock %}
	</head>
	<body>
		{% block body %}{% endblock %}


	</body>

	<footer>
		{% block footer %}{% endblock %}


	</footer>
</html>
