{% extends 'base.html.twig' %}

{% block title %}Provider
{% endblock %}

{% block header %}

	<nav class="navbar bg-body-tertiary navEspecial">
		<div class="container-fluid">
			<h4 class="navCartel">Ventas</h4>
		</div>

	</nav>

</nav>{% endblock %}
{% block body %}
<br/>
<div class="cardCenter row mx-auto">
	<div class="col-sm-6 mb-3 mb-sm-0">
		<div class="shadow p-0 mb-5 bg-body rounded">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title text-end" style="color:#232D42">03/2023</h5>
					<table class="table">
						<thead>
							<td>
								<h5 style="color:#3A57E8">#</h5>
							</td>
							<td>
								<h5 style="color:#3A57E8">Producto</h5>
							</td>
							<td>
								<h5 style="color:#3A57E8">Ventas</h5>
							</td>
							<td>
								<h5 style="color:#3A57E8">Ganancias</h5>
							</td>
							<td>
								<h5 style="color:#3A57E8">Inventario</h5>
							</td>

						</thead>
						<tbody>
						{% for dataproduct in data %}
							<tr scope="row">
								<th scope="row">
									 {{ loop.index}}
								</th>
								<th scope="row">
									 {{ dataproduct.IdProducto }}
								</th>
								<th scope="row">
									{{ dataproduct.Cant_Vendidos }}
								</th>
								<th scope="row">
									{{ dataproduct.Costo }}
								</th>
								<th scope="row">
									4
								</th>
								<th><a href="{{ path('sell_product_history', {'variable':  dataproduct.IdProducto}) }}" ><img src="{{ asset('Info.png','imagenlogo') }}" class="infosignal"/></th></a>

							</tr>
{% endfor %}
						</tbody>
						<tfoot>
							<td>
								<h5>Total:</h5>
							</td>
							<th scope="row">{{ total }}</th>
						</tfoot>
					</td>
				</table>
			</div>
		</div>
	</div>

   


{% endblock %}
