{% extends 'base.html.twig' %}

{% block title %}
  Hello Orders List!
{% endblock %}

{% block body %}
  
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">
            #
          </th>
          <th scope="col">
            Key de Orden
          </th>
          <th scope="col">
           Numero
          </th>
          <th scope="col">
            Estado
          </th>
          <th scope="col">
            Moneda
          </th>
          <th scope="col">
            Valor
          </th>
          <th scope="col">
            Nombre
          </th>
          <th scope="col">
            Apellido
          </th>
          <th scope="col">
           Direccion
          </th>
          <th scope="col">
            Correo
          </th>
          <th scope="col">
            Telefono
          </th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {% for orders in orders %}
          <tr scope="row">
          <th scope="row">
              {{ orders.orderId }}
            </th>
          <th scope="row">
              {{ orders.getOrderKey }}
            </th>
            
            <th scope="row">
              {{ orders.getNumber }}
            </th>
            <th scope="row">
              {{ orders.getStatus }}
            </th>
            <th scope="row">
              {{ orders.getCurrency }}
            </th>
            <th scope="row">
              {{ orders.getTotal }}
            </th>
            <th scope="row">
              {{ orders.getBillingFirstName }}
            </th>
            <th scope="row">
              {{ orders.getBillingLastName }}
            </th>
            <th scope="row">
              {{ orders.getBillingAddress1 }}
            </th>
            <th scope="row">
              {{ orders.getBillingEmail }}
            </th>
            <th scope="row">
              {{ orders.getBillingPhone }}
            </th>
            
           
          </tr>
        {% endfor %}
      </tbody>
    </table>
  
{% endblock %}
