{% extends 'base.html.twig' %}

{% block title %}
    Provider
        
    
{% endblock %}

{% block header %}

    <nav class="navbar bg-body-tertiary navEspecial">
        <div class="container-fluid">
            
                <a href="{{ path('app_economia_index') }}">
                    <h4 class="navCartel">                              
                Economia
                </h4>
                </a>             
            
        </div>

    </nav>

</nav>{% endblock %}
{% block body %}
<br>
   
<br>
        <div class="cardCenter row mx-auto">
            <div class="col-sm-8 mb-3 mb-sm-0">
                <div class="shadow p-0 mb-5 bg-body rounded">
                    <section class="container">
                        <form class="form-inline" name="test" method="POST" action="{{ path('app_economia_filter') }}">
                        <div class="row justify-content-center">
                            <div class="col-md-10">
                                <div class="row g-3">
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" id="idorden" name="test" placeholder="ID Orden"></div>
                                        <div class="col-sm">
                                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </form>
                        </section>
                        <br>
                    <div class="card">
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            IdProducto
                                                                                
                                        </th>
                                        <th>
                                            IdOrden
                                                                                
                                        </th>
                                        <th>
                                            IdProveedor
                                                                                
                                        </th>
                                        <th>
                                            Pagado
                                                                                
                                        </th>
                                        <th>
                                            FechaPagado
                                                                                
                                        </th>
                                        <th>
                                            TrazaPagado
                                                                                
                                        </th>
                                        <th>
                                            CantidadPagado
                                                                                
                                        </th>
                                        <th>
                                            Mostrar
                                                                                
                                        </th>
                                        <th>
                                            Pagar
                                                                                
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for economium in economias %}
                                        <tr>
                                            <td>
                                                {{ economium.idProducto }}
                                            </td>
                                            <td>
                                                {{ economium.idOrden }}
                                            </td>
                                            <td>
                                                {{ economium.idProveedor }}
                                            </td>
                                            <td>
                                                {{ economium.pagado ? 'Yes' : 'No' }}
                                            </td>
                                            <td>
                                                {{ economium.fechaPagado ? economium.fechaPagado|date('Y-m-d') : '' }}
                                            </td>
                                            <td>
                                                {{ economium.trazaPagado }}
                                            </td>
                                            <td>
                                                {{ economium.cantidadPagado }}
                                            </td>
                                            <td>
                                                <a href="{{ path('app_economia_show', {'id': economium.id}) }}">
                                                    <img src="{{ asset('images/Lupa.png') }}" class="navIcons"></img>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="{{ path('app_economia_edit', {'id': economium.id}) }}">
                                                    <img src="{{ asset('images/iconPayment.png') }}" class="navIcons"></a>
                                                </td>

                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td colspan="9">
                                                    no records found
                                                                                                
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <a  class="btn btn-outline-primary my-2 my-sm-0" href="{{ path('app_economia_new') }}">
                Create new
                        
            </a>
        {% endblock %}
        